* {
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;

    > .content {
        display: flex;
        flex: 1;
    }
}